
th {
  text-align: center;
  vertical-align: middle; /* new */
}

td {
  vertical-align: middle; /* new */
}
.select{
  font-size: 12px;
  border: 1px solid #3c3f42;
  display: flex;
  justify-content: center; 
  align-items: center; 
  white-space: nowrap; 
  min-width: 150px;
  max-width: 160px; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-menu-fixed {
  min-width: 150px; 
}

.dropdown-menu-fixed button {
  width: 100%; 
  text-align: left; 
}
.date-title{
  padding-top: 2%;
}
.btn.select {
  min-width: 150px; /* Adjust based on longest text */
  text-align: center;
}
td img {
  max-height: 50px;
  display: block;
  margin: 0 auto;
}