<div class="row g-0">
  <div class="stretch-card">
    <div class="card flex-grow-1">
      <div class="card-body">
        <div class="d-flex align-items-baseline">
          <h6 class="card-title mb-0">Όλες οι παραγγελίες</h6>
        </div>
        <div class="row d-flex justify-content-between flex-wrap align-items-center">
          <div class="row">
            <div class="col-auto">
              <div class="card">
                <div class="card-body">
                  Σύνολο: {{ totalAmount |currency:'EUR':'symbol' }}
                </div>
              </div>
            </div>
            <div class="col-auto">
              <div class="card">
                <div class="card-body">
                  Αριθμος παραγγελιών : {{ totalElements() }}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-auto">
              <input type="text" class="form-control form-control-sm" placeholder="Αναζήτηση με βάσει το όνομα.."
                (keyup)="searchByShopName($event)" />
            </div>
            <div class="col-auto">
              <input type="text" #searchByOrderIdInput class="form-control form-control-sm"
                placeholder="Εύρεση με βάσει το αναγνωριστικό παραγγελίες..."
                (keydown.enter)="searchByOrderId(searchByOrderIdInput.value)" />
            </div>
            <div class="col-auto">
              <form class="d-flex range-selection">
                <div class="form-group hidden">
                  <div class="input-group">
                    <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                      [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2"
                      [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!">
                    <ng-template #t let-date let-focused="focused">
                      <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null">
                        {{ date.day }}
                      </span>
                    </ng-template>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="input-group" (click)="datepicker.toggle()">
                    <input #dpFromDate class="form-control" placeholder="Ημ/νία από" name="dpFromDate"
                      [value]="formatter.format(fromDate)"
                      (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                    <button class="input-group-text" type="button">
                      <i class="feather icon-calendar icon-md text-secondary"></i>
                    </button>
                  </div>
                </div>
                <div class="ms-2">
                  <div class="input-group" (click)="datepicker.toggle()">
                    <input #dpToDate class="form-control" placeholder="Ημ/νία εώς" name="dpToDate"
                      [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)">
                    <button class="input-group-text" type="button">
                      <i class="feather icon-calendar icon-md text-secondary"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-auto">
              <div ngbDropdown class="dropdown-container">
                <button class="btn select" id="paymentStatus" ngbDropdownToggle>{{ selectedPaymentStatus }}</button>
                <div ngbDropdownMenu aria-labelledby="paymentStatus" class="dropdown-menu-fixed">
                  <button ngbDropdownItem (click)="selectPaymentStatus('Ολες')">Ολες</button>
                  <button ngbDropdownItem (click)="selectPaymentStatus('Πληρωμένες')">Πληρωμένες</button>
                  <button ngbDropdownItem (click)="selectPaymentStatus('Απλήρωτες')">Απλήρωτες</button>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <div ngbDropdown>
                <button class="btn select" id="orderStatus" ngbDropdownToggle>{{ selectedOrderStatus }}</button>
                <div ngbDropdownMenu aria-labelledby="orderStatus">
                  <button ngbDropdownItem (click)="setSelectedOrderStatus('Ολες')">Ολες</button>
                  <button ngbDropdownItem (click)="setSelectedOrderStatus('Κλειστές')">Κλειστές</button>
                  <button ngbDropdownItem (click)="setSelectedOrderStatus('Προς Παράδοση')">Προς Παράδοση</button>
                  <button ngbDropdownItem (click)="setSelectedOrderStatus('Σε επεξεργασία')">Σε επεξεργασία</button>
                  <button ngbDropdownItem (click)="setSelectedOrderStatus('Ακυρωμένες')">Ακυρωμένες</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive d-none d-lg-block">
          <table class="table table-hover">
            <thead>
              <tr>
                <th app-sortable-header [field]="'order_id'" [sort]="sort" [label]="'Order ID'"
                  (sortChange)="sortData('order_id')">
                </th>
                <th app-sortable-header [field]="'shop_name'" [sort]="sort" [label]="'Shop Name'"
                  (sortChange)="sortData('shop_name')">
                </th>
                <th app-sortable-header [field]="'status'" [sort]="sort" [label]="'Order Status'"
                  (sortChange)="sortData('status')">
                </th>
                <th app-sortable-header [field]="'order_created_at'" [sort]="sort" [label]="'Order Date'"
                  (sortChange)="sortData('order_created_at')">
                </th>
                <th app-sortable-header [field]="'day_of_week'" [sort]="sort" [label]="'Delivery Day'"
                  (sortChange)="sortData('day_of_week')">
                </th>
                <th app-sortable-header [field]="'start_time'" [sort]="sort" [label]="'Timeslot'"
                  (sortChange)="sortData('start_time')">
                </th>
                <th app-sortable-header [field]="'is_paid'" [sort]="sort" [label]="'Payment Status'"
                  (sortChange)="sortData('is_paid')">
                </th>
                <th app-sortable-header [field]="'total_cost'" [sort]="sort" [label]="'Cost'"
                  (sortChange)="sortData('total_cost')">
                </th>
                <th app-sortable-header [field]="'postal_code'" [sort]="sort" [label]="'Postal Code'"
                  (sortChange)="sortData('postal_code')">
                </th>
                <th>Export</th>

              </tr>
            </thead>
            <tbody>

              @for (order of orders(); track order.order_id)
              {<tr (click)="openScrollableModal(scrollableModal, order)">
                <td style="font-size: 10px;">{{ order.order_id }}</td>
                <td>
                  <div style="text-align: center;">
                    <img [src]="order.shop_image" class="image-button-auto-resize" />
                    <div [innerHTML]="order.shop_name | breakLines:10"></div>
                  </div>
                </td>

                <td><span [class]="'badge bg-' + getBadgeDeliveredClass(order.status)">{{ order.status }}</span></td>
                <td>{{ order.order_created_at| date }}</td>
                <td>{{ order.day_of_week }}</td>
                <td>{{order.start_time.slice(0,5)}}-{{order.end_time.slice(0,5)}}</td>
                <td><span [class]="'badge bg-' + getBadgePaidClass(order.is_paid)">{{ order.is_paid ?'Paid':'Unpaid'
                    }}</span></td>
                <td>{{ order.total_cost |currency:'EUR':'symbol' }}</td>
                <td>{{order.postal_code}}</td>
                <td>
                  <button class="btn btn-primary"><i class="feather icon-download"></i></button>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <!-- Only visible on small screens -->
        <div class="d-block d-lg-none mobile-view">
          <div ngbAccordion [closeOthers]="true">
            @for (order of orders(); track order.order_id){
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton class="d-flex align-items-center gap-2">
                  <img [src]="order.shop_image" alt="Shop Image" class="image-button-auto-resize">
                  <span>{{ order.shop_name }}</span>
                </button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>

                    <table class="mobile-table" (click)="openScrollableModal(scrollableModal, order)">
                      <tr>
                        <th>
                          <strong>Order ID:</strong>
                        </th>
                        <td>
                          {{ order.order_id }}

                        </td>

                      </tr>
                      <tr>
                        <th>

                          <strong>Shop Name:</strong>
                        </th>
                        <td>
                          <p>{{ order.shop_name }}</p>
                        </td>

                      </tr>
                      <tr>
                        <th>

                          <strong>Order Status:</strong>
                        </th>
                        <td>
                          <p>
                        <td><span [class]="'badge bg-' + getBadgeDeliveredClass(order.status)">{{ order.status }}</span>
                        </td>
                        </p>
                        </td>

                      </tr>
                      <tr>
                        <th>

                          <strong>Order Date:</strong>
                        </th>
                        <td>

                          <p>{{ order.order_created_at }} </p>

                        </td>
                      </tr>
                      <tr>
                        <th><strong>Delivery Day:</strong></th>
                        <td>
                          <span>{{ order.day_of_week }}</span>
                        </td>

                      </tr>
                      <tr>
                        <th><strong>Timeslot</strong></th>
                        <td>
                          <p>{{order.start_time.slice(0,5)}}-{{order.end_time.slice(0,5)}}</p>
                        </td>
                      </tr>
                      <tr>
                        <th><strong>Payment Status</strong></th>
                        <td>
                          <span [class]="'badge bg-' + getBadgePaidClass(order.is_paid)">{{ order.is_paid
                            ?'Paid':'Unpaid'
                            }}</span>
                        </td>
                      </tr>
                      <tr>
                        <th><strong>Cost</strong></th>
                        <td>
                          <p>{{ order.total_cost |currency:'EUR':'symbol' }}</p>
                        </td>
                      </tr>
                      <tr>
                        <th><strong>Postal Code</strong></th>
                        <td>
                          <p>{{ order.postal_code }}</p>
                        </td>
                      </tr>
                      <tr>
                        <th><strong>Export</strong></th>
                        <td>
                          <p><button class="btn btn-primary"><i class="feather icon-download"></i></button></p>
                        </td>
                      </tr>
                    </table>
                  </ng-template>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="totalElements()" [(page)]="page" [pageSize]="limit"
            (pageChange)="refreshOrders()">
          </ngb-pagination>

          <select class="form-select" style="width: auto" [(ngModel)]="limit" (ngModelChange)="refreshOrders()">
            <option selected [ngValue]="10">10 αντικείμενα ανα σελίδα</option>
            <option [ngValue]="25">25 αντικείμενα ανα σελίδα</option>
            <option [ngValue]="50">50 αντικείμενα ανα σελίδα</option>
          </select>
        </div>
      </div>
    </div>
  </div>

</div>
<ng-template #scrollableModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="newOrderModal">Αποδοχή Παραγγελίας {{selectedOrder.order_id}}</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <app-order-modal [selectedOrder]="this.selectedOrder" [orderItems]="this.orderItems"
      [deliveryDate]="this.deliveryDate"></app-order-modal>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
  </div>
</ng-template>