<div class="row fullscreen">

    <div class="col-12 stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 mb-3">
                <app-card-choice-order 
                    [title]="'Σημερινές παραγγελίες'" 
                    [image]="'cart.png'" 
                    [routerLinkValue]="'/orders/todays-orders'">
                </app-card-choice-order>
              </div>
    
              <div class="col-md-6 mb-3">
            
                <app-card-choice-order  
                    [title]="'Διαχείριση παραγγελιών'" 
                    [image]="'order-management.png'" 
                    [routerLinkValue]="'/orders/orders-management'">
                </app-card-choice-order>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    <router-outlet></router-outlet>
</div>
