<div class="row">
    <div class="stretch-card">
        <div class="card">
            <div class="d-flex align-items-baseline">
                <app-card-choice-order 
                    [title]="'Today\'s Orders'" 
                    [image]="'cart.png'" 
                    [routerLinkValue]="'/orders/todays-orders'">
                </app-card-choice-order>

                <app-card-choice-order  
                    [title]="'Order Management'" 
                    [image]="'order-management.png'" 
                    [routerLinkValue]="'/orders/orders-management'">
                </app-card-choice-order>
            </div>
        </div>
    </div>
    
    <!-- Loads the component dynamically -->
    <router-outlet></router-outlet>
</div>