<div class="modal-body"  style="max-height: 60vh; overflow-y: auto;">
    <div class="card">
        <div class="card-header">
            <h5>Πληροφοριες του Πελατη</h5>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between p-2">
                <span><i class="feather icon-map-pin"></i>{{selectedCustomer().address}}
                    {{selectedCustomer().postal_code}}</span>
                <span class="status active">Active <span class="description">(παραγγέλνει συχνά)</span></span>
                <!-- <span class="status dormant">
                    Dormant <span class="description">(δεν παραγγέλνει συχνά)</span>
                </span>
                <span class="status lost">
                    Lost <span class="description">(έχει σταματήσει να παραγγέλνει)</span>
                </span> -->
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5>Tags</h5>
        </div>
        <div class="card-body">
            <div class="tags">
                <span class="tag-icon" [class.active]="isSelected('VIP')" (click)="toggleTag('VIP')"><i style="color: gold;" class="feather icon-star"></i>VIP</span>
                <span class="tag-icon" [class.active]="isSelected('Πληρώνει αργά')" (click)="toggleTag('Πληρώνει αργά')"><i class="feather icon-clock"></i>Πληρώνει αργά</span>
                <span class="tag-icon" [class.active]="isSelected('Εβδομαδιαίος Αγοραστής')" (click)="toggleTag('Εβδομαδιαίος Αγοραστής')"><i class="feather icon-award"></i>Εβδομαδιαίος Αγοραστής</span>
                <span class="tag-icon" [class.active]="isSelected('Περιστασιακός')" (click)="toggleTag('Περιστασιακός')"><i class="feather icon-watch"></i>Περιστασιακός</span>
                <span class="tag-icon" [class.active]="isSelected('Σε προσφορές')" (click)="toggleTag('Σε προσφορές')"><i class="feather icon-coffee"></i>Σε προσφορές</span>
            </div>
       
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5>Στατιστικά</h5>
        </div>
        <div class="card-body">
            <div class="customer-stats">
                <div class="stat-card">
                  <div class="stat-title">Total Orders</div>
                  <div class="stat-value">{{selectedCustomer().total_orders}}</div>
                </div>
              
                <div class="stat-card">
                  <div class="stat-title">Total Spent</div>
                  <div class="stat-value">{{selectedCustomer().total_cost}}</div>
                </div>
              
                <div class="stat-card">
                  <div class="stat-title">Avg. Basket Size</div>
                  <div class="stat-value">€195.24</div>
                </div>
              
                <div class="stat-card">
                  <div class="stat-title">First / Last Order</div>
                  <div class="stat-value">{{selectedCustomer().latest_order_created_at}}</div>
                </div>
              </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5>Notes</h5>
        </div>
        <div class="card-body">
            <p>Previous notes</p>
            <textarea class="form-control" rows="3" placeholder="Add a note..."></textarea>
        </div>
    </div>
</div>