<div class="row fullscreen">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">

        <div class="row">
          @for( choice of add_menu_cards; track choice.id; ) {
          <div class="col-md-3 mb-3">
            <app-card-choice-order [title]="choice.title" [routerLinkValue]="choice.route" (click)="setActiveCard(choice)">
            </app-card-choice-order>

          </div>
          }
          @if(activeCardIndex()!=null)
          {
          <div class="mt-2 text-muted small">
            {{ activeCardIndex().description }}
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>