.modal-table{
    font-size: 13px;
}
.modal-lg, .modal-xl {
    --bs-modal-width: 90%!important;
}

@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        --bs-modal-width: 90% !important;
    }
}