.table-responsive {
  flex-grow: 1;
  overflow-y: auto;
}

.table thead th {
  top: 0;
}
.table thead th {
font-size: 10px;}

.table {
  width: auto;
  min-width: 800px;
  text-align: center;
}

.product-image {
  max-width: 50% !important;
}

.input-editable {
  width: 130%;
  min-width: 90%;
  border: none;
  text-align: center;
}
@media screen and (max-width: 1400px) {

  .product-image {
    max-width: 30% !important;
  }
}