<div class="card-body">
    <div class="row">
        <div class="postal-tags">
            @for(code of postalCodes; track code)
            {
            <span (click)="selectPostalCode(code)" [class.active]="code === selectedPostalCode">
                📍 {{ code }}
            </span>
            }

        </div>
        <hr />
        <div class="schedule-section">
            <h3>Schedule for Postal Code: {{ selectedPostalCode }}</h3>
            @if (isLoading) {
                <div class="spinner-wrapper">
                  <div class="spinner">Loading...</div>
                </div>
              } @else {
                @for(day of daysOfWeek; track day)
                {
                <div class="d-flex justify-content-between flex-wrap p-2">
                    @if(deliverySchedule())
                    {
                        @if(deliverySchedule()[selectedPostalCode][day])
                        { <div>
                            <strong>{{ day }}:</strong>
                            @for(slot of deliverySchedule()[selectedPostalCode][day]; track slot; let i = $index;)
                            {
                            <span class="slot">
                                {{ slot }}
                                <button  (click)="removeTimeSlot(day, i)">🗑️</button>
                            </span>
                            }
        
                        </div>
                        }
                    }
                  
    
                </div>
                }
              }
        


            <!-- Add new time slot -->
            <div class="add-section">
                <label>Add new time slot</label>
                <select [(ngModel)]="newDay">
                    <option value="" disabled>Select a day</option>

                    @for(day of daysOfWeek; track day) {
                    <option [value]="day">{{ day }}</option>

                    }
                </select>
                <select [(ngModel)]="selectedStartSlot">
                    <option value="" disabled>Select a  start time</option>
                    @for(slot of startSlotIntervals; track slot) {
                    <option [value]="slot">{{ slot }}</option>
                    }
                  </select>
                  <select [(ngModel)]="selectedEndSlot">
                    <option value="" disabled>Select a  end time</option>
                    @for(slot of endSlotIntervals; track slot) {
                    <option [value]="slot">{{ slot }}</option>
                    }
                  </select>
               
                  <button type="button" class="btn btn-success btn-icon-text" (click)="addDay(newDay); addTimeSlot(newDay, selectedStartSlot,selectedEndSlot)">
                    <i class="feather icon-plus-circle"></i> Προσθήκη
                  </button>
            </div>
        </div>

    </div>
</div>