<div class="row">
    <div class="stretch-card">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Campaigns </h4>
            </div>            
            <div class="card-body">
                <div ngbAccordion [closeOthers]="false">
                    <div ngbAccordionItem [collapsed]="true">
                      <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>Simple</button>
                      </h2>
                      <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                          <ng-template>
                            
                          </ng-template>
                        </div>
                      </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>