

<div class="row g-0">
  <div class="col-lg-7 col-xl-8 stretch-card d-flex flex-wrap">
    <div class="card flex-grow-1">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">Today's Orders</h6>
        </div>
        <div class="row d-flex justify-content-between">

          <div class="row col-auto">
            <div class="col-auto">
              <input type="text" class="form-control form-control-sm" placeholder="Find by shop name..."
                (keyup)="searchByShopName($event)" />
            </div>
            <div class="col-auto">
              <input type="text" #searchByOrderIdInput class="form-control form-control-sm" placeholder="Find by order id..."
                (keydown.enter)="searchByOrderId(searchByOrderIdInput.value)" />
            </div>
          </div>



          <div class="col-auto">
            <div class="card">
              <div class="card-body">
                Σύνολο: {{ totalAmount |currency:'EUR':'symbol'  }}
              </div>
            </div>
          </div>

        </div>

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th app-sortable-header [field]="'order_id'" [sort]="sort" [label]="'Order ID'"
                  (sortChange)="sortData('order_id')">
                </th>
                <th style="padding-left: 7%;" app-sortable-header [field]="'shop_name'" [sort]="sort"
                  [label]="'Shop Name'" (sortChange)="sortData('shop_name')">
                </th>
                <th app-sortable-header [field]="'order_created_at'" [sort]="sort" [label]="'Order Date'"
                  (sortChange)="sortData('order_created_at')">
                </th>
                <th app-sortable-header [field]="'day_of_week'" [sort]="sort" [label]="'Delivery Day'"
                  (sortChange)="sortData('day_of_week')">
                </th>
                <th app-sortable-header [field]="'start_time'" [sort]="sort" [label]="'Timeslot'"
                  (sortChange)="sortData('start_time')">
                </th>
                <th app-sortable-header [field]="'is_paid'" [sort]="sort" [label]="'Payment Status'"
                  (sortChange)="sortData('is_paid')">
                </th>
                <th app-sortable-header [field]="'total_cost'" [sort]="sort" [label]="'Cost'"
                  (sortChange)="sortData('total_cost')">
                </th>
              </tr>
            </thead>
            <tbody>

              @for (order of orders(); track order.order_id)
              {<tr (click)="openScrollableModal(scrollableModal, order)">
                <td style="font-size: 10px;">{{ order.order_id }}</td>
                <td>
                  <div style="text-align: center;">
                    <img [src]="order.shop_image" class="auto-resize" />
                    <div>{{ order.shop_name }}</div>
                  </div>
                </td>
                <td>{{ order.order_created_at| date }}</td>
                <td>{{ order.day_of_week }}</td>
                <td>{{order.start_time.slice(0,5)}}-{{order.end_time.slice(0,5)}}</td>
                <td><span [class]="'badge bg-' + getBadgeClass(order.is_paid)">{{ order.is_paid ?'Paid':'Unpaid'
                    }}</span></td>
                <td>{{ order.total_cost |currency:'EUR':'symbol'  }}</td>
              </tr>
              }

            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="totalElements()" [(page)]="page" [pageSize]="limit"
            (pageChange)="refreshOrders()">
          </ngb-pagination>

          <select class="form-select" style="width: auto" [(ngModel)]="limit" (ngModelChange)="refreshOrders()">
            <option selected [ngValue]="10">10 items per page</option>
            <option [ngValue]="25">25 items per page</option>
            <option [ngValue]="50">50 items per page</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xl-4">
    <app-received-new-order></app-received-new-order>
  </div>

</div>
<ng-template #scrollableModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="newOrderModal">Αποδοχή Παραγγελίας {{selectedOrder.order_id}}</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <app-order-modal [selectedOrder]="this.selectedOrder" [orderItems]="this.orderItems"
      [deliveryDate]="this.deliveryDate"></app-order-modal>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
  </div>
</ng-template>
