<div class="row">
    <div class="col-xl-4 grid-margin grid-margin-xl-0 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Κλικ και Αγορές που έκανε κάθε πελάτης</h6>

                <canvas baseChart [data]="clickAndPurchaseChartData" [options]="clickAndPurchaseChartOptions"
                    [type]="clickAndPurchaseChartType">
                </canvas>

            </div>
        </div>
    </div>
    <div class="col-xl-4 grid-margin grid-margin-xl-0 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Κλικς που έγιναν αγορές </h6>

                <canvas baseChart [data]="clicksConvertedToPurchaseChartData"
                    [options]="clicksConvertedToPurchaseChartOptions" [type]="clicksConvertedToPurchaseChartType">
                </canvas>

            </div>
        </div>
    </div>
    <div class="col-xl-4 grid-margin grid-margin-xl-0 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Σύγκριση πριν και μετά απο τις διαφημίσεις</h6>

                <canvas baseChart [data]="beforeAndAfterAdsChartData" [options]="beforeAndAfterAdsChartOptions"
                    [type]="beforeAndAfterAdsChartType">
                </canvas>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Επιρροή των Εκπτωσεων</h6>

                <canvas baseChart [data]="salesImpactFromOffersData" [options]="salesImpactFromOffersOptions"
                    [type]="salesImpactFromOffersType" [plugins]="salesImpactFromOffersPlugins">
                </canvas>

            </div>
        </div>
    </div>
    <div class="col-xl-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Σύγκριση πωλήσεων με προσφορες και χωρις ανα κατηγορια</h6>

                <canvas baseChart [data]="normalVsDiscountedSalesChartData"
                    [options]="normalVsDiscountedSalesChartOptions" [type]="normalVsDiscountedSalesChartType">
                </canvas>

            </div>
        </div>
    </div>
    <div class="col-xl-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Πελάτες που αγόρασαν λόγω των εκπτώσεων</h6>
    
            <canvas baseChart 
              [data]="customersBoughtWithOffersChartData"
              [options]="customersBoughtWithOffersChartOptions"
              [type]="customersBoughtWithOffersChartType">
            </canvas>
    
          </div>
        </div>
      </div>
</div>