<div class="row gy-3">
    <div class="col-md-4">
      <div class="d-flex align-items-center gap-2">
        <div class="form-check form-switch">
          <input type="checkbox" class="form-check-input" id="formSwitch1" [(ngModel)]="isEnabled"
            (change)="onToggleChange()">
        </div>
        <label class="form-check-label mb-0" for="formSwitch1">
          @if (!isEnabled) {
          <span>Ενεργοποίησε το</span>
          }
          @else {
          <span>Απενεργοποίησε το</span>
          }


        </label>
      </div>
    </div>

    <div class="col-md-4">
      <div class="d-flex align-items-center gap-2">
        <button type="button" class="btn btn-primary btn-icon">
          <i class="feather icon-check-square"></i>
        </button>
        <input type="text" class="form-control" name="cost" id="costPerClick"
          placeholder="Κόστος ανα ημέρα" [disabled]="!isEnabled" [(ngModel)]="cost" #costModel="ngModel"
          required pattern="^[0-9]*\.?[0-9]+$">
      </div>
      @if(costModel.invalid && costModel.touched)
      {
      <div class="text-danger mt-1 ms-5">
        @if(costModel.errors?.['required'])
        {
        <small>Απαραίτητο πεδίο.</small>
        }
        @if(costModel.errors?.['pattern'])
        {
        <small>Εισάγετε μόνο αριθμούς ή δεκαδικά.</small>
        }


      </div>
      }

    </div>

    <!-- Statistics button -->
    <div class="col-md-4">
      <div class="d-flex align-items-center h-100">
        <button type="button" class="btn btn-primary btn-icon-text">
          <i class="feather icon-bar-chart"></i> Στατιστικά
        </button>
      </div>
    </div>
  </div>