<div class="p-3 border-bottom d-flex flex-column h-100">
    <div class="row align-items-center flex-grow-1">
      <div class="col-lg-12 d-flex flex-column h-100">
        <div class="d-flex align-items-end flex-grow-1 mb-0 mb-lg-0">
          <div class="table-responsive flex-grow-1">
            <table class="table table-hover">
              <thead>
                <tr style="font-size: 10px;">
                  <th app-sortable-header [field]="'cp_id'" [sort]="sort" [label]="'ID'"
                    (sortChange)="sortData('product_id')"></th>
                  <th app-sortable-header [field]="'cp_id'" [sort]="sort" [label]="'product'"
                    (sortChange)="sortData('name')"></th>
                  <th app-sortable-header [field]="'quantity'" [sort]="sort" [label]="'Quantity'"
                    (sortChange)="sortData('quantity')"></th>
                  <th app-sortable-header [field]="'selling_price'" [sort]="sort"
                    [label]="'Selling Price'" (sortChange)="sortData('price')"></th>
                  <th app-sortable-header [field]="'cost_price'" [sort]="sort" [label]="'Cost Price'"
                    (sortChange)="sortData('cost_price')"></th>
                  <th app-sortable-header [field]="'discount'" [sort]="sort" [label]="'Discount'"
                    (sortChange)="sortData('discount')"></th>
                  <th app-sortable-header [field]="'status'" [sort]="sort" [label]="'Product For Sale'"
                    (sortChange)="sortData('status')"></th>
                  <th app-sortable-header [field]="'sales_count'" [sort]="sort" [label]="'Sales Count'"
                    (sortChange)="sortData('sales_count')"></th>
                  <th app-sortable-header [field]="'supplier_name'" [sort]="sort"
                    [label]="'Supplier Name'" (sortChange)="sortData('provider')"></th>
                </tr>
              </thead>
              <tbody>
                @for (product of products; track product.product_id)
                {
                <tr>
                  <td>{{product.product_id}}</td>
                  <td>
                    <div style="text-align: center;">
                      <img [src]="product.image" class="image-button-auto-resize product-image" />
                      <div>{{ product.name }}</div>
                    </div>
                  </td>
                  <td>{{product.quantity}}</td>
                  <td>{{product.price}}</td>
                  <td>{{product.cost_price}}</td>
                  <td>{{product.discount}}</td>
                  <td>{{product.status}}</td>
                  <td>{{product.sales_count}}</td>
                  <td>{{product.provider}}</td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
   
  </div>
   <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="totalElements()" [(page)]="page" [pageSize]="limit"
          (pageChange)="updateProducts()"></ngb-pagination>

        <select class="form-select" style="width: auto" [(ngModel)]="limit"
          (ngModelChange)="updateProducts()">
          <option selected [ngValue]="20">20 items per page</option>
          <option [ngValue]="30">30 items per page</option>
          <option [ngValue]="60">60 items per page</option>
        </select>
      </div>