<div class="">
    <div class="stretch-card">
        <div class="card">
            <div class="card-header">
                <h3>Profile Information</h3>
            </div>
       <app-supplier-info [supplier]="supplier"></app-supplier-info>
        </div>
    </div>
    <div class="stretch-card">
        <div class="card">
            <div class="card-header">
                <h3>Delivery Zones</h3>
            </div>
         <app-postal-codes-settings></app-postal-codes-settings>
        </div>
    </div>
</div>