<div class="">
    <div class="stretch-card">
        <div class="card">
            <div class="card-header">
                <h3>Πληροφορίες Προφίλ</h3>
            </div>
       <app-supplier-info [supplier]="supplier"></app-supplier-info>
        </div>
    </div>
    <div class="stretch-card">
        <div class="card">
            <div class="card-header">
                <h3>Περιοχές Παράδοσεις</h3>
                <div class="mt-2 text-muted small">
                    <p>Επιλέξτε τα ΤΚ που μπορείτε να παραδώσετε τα προϊόντα σας. Στην συνέχεια φτιάξτε το πρόγραμμα παράδοσεις σε κάθε ΤΚ.</p>
                </div>
            </div>
         <app-postal-codes-settings></app-postal-codes-settings>
        </div>
    </div>
</div>