// Global icon font
@import "../public/fonts/feather/style.css";

@import "./styles/styles.scss";

.image-button-auto-resize{
    width: auto;
    height: auto;
    max-width: 20%; 
    max-height: 20%; 
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.modal-lg, .modal-xl {
    --bs-modal-width: 90%!important;
}

@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        --bs-modal-width: 90% !important;
    }
}